# Konfigurasi Database MySQL
MYSQL_ROOT_PASSWORD=masukkan_password_root_disini
MYSQL_DATABASE=wordpress_db
MYSQL_USER=masukkan_username_db_disini
MYSQL_PASSWORD=masukkan_password_db_disini

# Konfigurasi WordPress
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=masukkan_username_db_sama_dengan_di_atas
WORDPRESS_DB_PASSWORD=masukkan_password_db_sama_dengan_di_atas
WORDPRESS_DB_NAME=wordpress_db

# Konfigurasi Redis
REDIS_PASSWORD=masukkan_password_redis_disini

# Konfigurasi MinIO
MINIO_ROOT_USER=masukkan_username_admin_minio
MINIO_ROOT_PASSWORD=masukkan_password_admin_minio