# Konfigurasi Database MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Konfigurasi WordPress
WORDPRESS_DB_HOST=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASSWORD=
WORDPRESS_DB_NAME=

# Konfigurasi Redis
REDIS_PASSWORD=

# Konfigurasi MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=